* 
{
  margin: 0%;
  padding: 0%;
}
{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: radial-gradient(circle closest-corner at center 500px, #c60e0e, rgb(41, 11, 11) 50%)
    no-repeat;    
    background-size: cover;
    background-attachment: fixed;
    color: rgb(247, 238, 238);
    text-align: left-align;
    display: flex;
    flex-wrap: nowrap;
  }
  
  #detailsContaier {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10%;
    margin-left: 3%;
    margin-top: 0;
    max-width: 450px;
  }
  
  img {
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin-top: 10%;
    margin-left: 60%;
    background-attachment: fixed;
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }
  
  /* .details{
    margin-left: 10px;
    margin-right: 10px;
  } */
  